body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navbar {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  width: 100%; 
  background-color: transparent;
  transition: background-color 0.3s; 
  z-index: 1000; 
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar.scrolled {
  background-color: #d7aedb; 
}

.navbar .nav-link {
  color: rgb(30, 6, 36);
  font-size: 1.1rem;
  margin-left: 20px;
}


.navbar .nav-link:hover {
  color: #9809a0; 
  transition: all 0.5s;
}

.logo {
  margin-left: 30px;
  height: 50px;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-wrapper {
  display: flex;
  gap: 10px;
}


.logo-text {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo-subtext {
  font-size: 10px;
  letter-spacing: 1px;
}

.burger {
  color: #f3f3f3;
}

.hero {
  display: flex;
  background: linear-gradient(135deg, #6a0dad, #ffd700); 
  height: 100vh; 
  align-items: center; 
  color: white; 
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  text-align: left;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}


.hero h1 {
  font-size: 3rem; 
  font-weight: 700; 
  margin-bottom: 20px;
  text-align: left; 
  margin: 0;
  margin-bottom: 30px;
}

.hero p {
  font-size: 1.25rem; 
  text-align: left; 
  margin: 0;
  margin-bottom: 50px;
}

.hero-btn {
  display: block;
  width: 250px;
  padding: 10px 20px; 
  background-color: #52016d; 
  text-transform:uppercase;
  letter-spacing: 2px;
  color: white; 
  text-decoration: none; 
  border: none; 
  border-radius: 50px; 
  margin-top: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.hero-btn:hover {
  background-color: #ffd700;
  color: #52016d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
}

.offcanvas-header {
  background-color: #52016d;
}

.offcanvas-body {
  background-color: #8f42a9;
  padding-top: 50px;
}

.social-links {
  background-color: #52016d;
  padding: 20px;
}

.social-links svg {
  width: 50px;
  height: 50px;  
}

.vk {
  margin-top: 7px;
  width: 36px !important;
  height: 36px !important;  
}

.list-unstyled {
  gap: 20px;
  color: #ffd700;
}

.social-links > h6 {
  color: #fff;
}

.offcanvas-body .nav-link {
  font-size: 1.25rem;
  color: #e1e1de;
  text-transform: uppercase;
}
.btn-close {
  filter: invert(1) saturate(5) hue-rotate(50deg); 
}

/* Секция О нас */
.about-us {
  padding: 80px 0;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-text {
  text-align: left;
}

.about-text p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.about-us .btn {
  background-color: #ffd700; 
  border: none;
  color: #7e1f7e;
  border-radius: 50px; 
  padding: 10px 30px; 
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.about-us .btn:hover {
  background-color: #7e1f7e; 
  color:#ffd700;
  transition: all 0.3s ease;
}

#services {
  padding: 50px 0;
  background: linear-gradient(135deg, #6a0dad, #ffd700); 
}

#services .row {
  display: flex;
  flex-wrap: wrap;
}

#services h2 {
  color: white; 
  text-align: center;
  margin-bottom: 30px;
}

.service-card {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  transition: transform 0.3s ease;
  margin: 10px;
  cursor: pointer;
}

.service-card:hover {
  scale: 1.02;
  transition: all 0.3s ease;
}

.service-card img {
  width: 100%;
  height: 60%; 
  object-fit: cover;
}

.service-card .card-body {
  height: 30%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.service-card .card-title {
  font-size: 1.5rem;
  color: #444;
}

.service-card .btn-primary {
  background-color: #ab3bab;
  border-color: #ab3bab;
}

.service-card .btn-primary:hover {
  background-color: #7e1f7e;
  border-color: #7e1f7e;
}

#portfolio {
  padding: 50px 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

#portfolio .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#portfolio h2 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.swiper-container {
  width: 100%;
  height: 500px;
  position: relative; 
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #d87bd8;
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; 
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination {
  bottom: 10px;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #7e1f7e;
}

.contacts {
  padding: 50px 0;
  background-color: #f3f3f3;
}

.contacts-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contacts-map {
  flex: 1;
  min-height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts-info {
  height: 305px;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts-info h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.contacts-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts-info a {
  color: #7e1f7e;
  text-decoration: none;
}

.contacts-info a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(135deg, #6a0dad, #ffd700);
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-socials a {
  color: #fff;
  text-decoration: none;
}

.footer-socials a:hover {
  text-decoration: underline;
}

.telegram {
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .logo-subtext {
    font-size: 8px;
  }
  .about-text {
    text-align: center;
  }

  .about-image {
    margin-bottom: 20px; 
  }

  .about-us {
    padding: 40px 0;
  }

  .about-us .row {
    flex-direction: column-reverse; 
    gap: 20px;
  }

  .about-us h2 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 16px;
  }
  .hero-image {
    display: none;
  }

  .hero-btn {
    width: 95%;
  }

  .contacts-container {
    flex-direction: column-reverse;
  }

  .contacts-map, 
  .contacts-info {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer-socials ul {
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-logo img {
    margin-bottom: 20px;
  }

}